<html>
    <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    </head>
    <body>
        <p>salam</p>
{#        <form method="post" enctype="multipart/form-data" action="{% url 'print' %}">#}
{#            {% csrf_token %}#}
{#            <input type="text" name="search">#}
{#            <input type="text" name="year">#}
{#            <input type="submit" id="sub">#}
{#        </form>#}
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <input type="text" name="search">
            <input type="text" name="year">
            <input type="submit" >

        </form>
{#        <button type="submit" id="add_button" onclick="addd()" >add</button>#}
        <p  id="sub" >add</p>
        Subjects: <select name="subject" id="subject"  onclick="addd(this.value)">
            <option value="1" selected="selected">Select subject</option>
            <option value="year" >year</option>
          </select>
        <div id="space"></div>
        {% if re %}
        <p>
            {% for ree in re %}
            <p>{{ree.Country}}</p>
            {% endfor %}

        </p> 
        {% else %} 
        <p>
            {% for k in kl %}
            <p>{{k}}</p>
            {% endfor %}

        </p>   
        {% endif %}
        <script>
            {#    const dftg = document.getElementById("sub");#}
            {#one.addEventListener("click",(e)=>{#}
            {#    console.log("e.target.id")#}
            $(document).ready(function (){
               $('#sub').click(function (){
                console.log("salam");
                $.ajax({
                    type:"POST",
                    url:"/print/p/ ",
                        headers: {
                            'X-CSRFToken': "{{ csrf_token }}"
                        },
                    data:{
                        "search":$('input[name="search"]').val()
                    },
                    success:function (data){
                        console.log(data)
                        console.log("by")

                    }
                })
            })

            })
        </script>

        <script>
            const one = document.getElementById("sub");
            one.addEventListener("click",(e)=>{
                console.log("e.target.id")
            $(document).ready(function (){
               $('#sub').click(function (){
                console.log("salam");
                {#$.ajax({#}
                {#    type:"POST",#}
                {#    url:"print ",#}
                {#        headers: {#}
                {#    'X-CSRFToken': csrfToken#}
                {#},#}
                {#    success:function (data){#}
                {#        console.log(data)#}
                {#        console.log("by")#}
                {##}
                {#    }#}
                {#})#}
            })

            })

            var count=0
            function yes(){
                console.log("salam")
            }
            function addd(v){
                console.log(v)
                if (v=="year"){
                    const sp= document.getElementById("space");
                    const rap= document.createElement("div");
                    const inp= document.createElement("input");
                    const de_b= document.createElement("button");
                    count+=1
                    inp.setAttribute("type","text");
                    //    inp.classList.add(`inp_field${count}`)
                    //    de_b.classList.add(`bu_field${count}`)
                    inp.setAttribute("id",`inp_field${count}`)
                    de_b.setAttribute("id",`but_field${count}`)
                    rap.appendChild(inp);
                    rap.appendChild(de_b);
                    sp.appendChild(rap);
                }
            
            };
            document.addEventListener("click",(e)=>{
                console.log(e.target.id)
             
                rt=e.target.id
                sl=rt.slice(-1)
                console.log(sl)
                if (rt==`but_field${sl}`){
                    ff=document.getElementById(`but_field${sl}`).outerHTML = ""
                    bb=document.getElementById(`inp_field${sl}`).outerHTML = ""
                    console.log(bb)
                }
                    
                

            })
            // function del(){
            // //    document.removeEventListener("click",(e)=>{
            //     console.log("ssa;am")
               
             
            // //    })
        
            // }
            
        </script>
    </body>
</html>


